<!DOCTYPE html>
<html>
    <body>
        <!-- is replaced by whatever the username is -->
        <h1><%= action%></h1>
        <h3><%= user.username %></h3>
        <h3><%= user.password%></h3>
    </body>
</html>