<!DOCTYPE html>
<html>
    <body>
        <p>List of Food</p>
        <ul>
            <% foodItems.map(item => { %>
                <li> <%= item %></li>
            <% }) %>
        </ul>
    </body>
</html>

<ul>
    <!-- <% newListItems.forEach(function(item,index){ %>
        <li> <%= item %> </li>
    <% }) %>
</ul> -->