<!DOCTYPE html>
<html>
    <body>
        <p>List of Food</p>
        <ul>
            <% food-Items.map(item => { %>
                <li> <%= item %></li>
            <% }) %>
        </ul>
    </body>
</html>
